.role-card {
  cursor: pointer;
}

.card-option {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  min-width: 120px;
  transition: all 0.3s ease;
}

.card-option i {
  font-size: 2rem;
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="radio"]:checked + .card-option {
  border-color: #0727b4;
  background-color: #d39c05;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.btn {
  background: linear-gradient(45deg, #eda304, #0d369e);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}
/* Rendre le formulaire transparent */
form {
  background-color: rgba(108, 103, 103, 0.2); /* blanc transparent */
  backdrop-filter: blur(8px); /* effet verre dépoli */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Si ton form est dans une card */
.card {
  background-color: rgba(255, 255, 255, 0.563) !important;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;
}
