
<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Bienvenue sur ProMeet</h1>
  </header>

  <main class="dashboard-main">
    <h3>Connectez-vous comme :</h3>
    <div class="roles-selection">
      <button routerLink="/client" class="role-btn">Client</button>
      <button routerLink="/prestataire" class="role-btn">Prestataire</button>
      <button routerLink="/admin" class="role-btn">Admin</button>
    </div>

    <section class="dashboard-links">
      <a routerLink="/offres" class="dash-card">Offres</a>
      <a routerLink="/reservations" class="dash-card">Réservations</a>
    </section>
  </main>
</div>
