<footer class="footer text-white pt-5 pb-4 w-100">
  <div class="container-fluid">
    <div class="row">

      
          <div class="col-md-2 mb-4">
      <div class="logo-title d-flex align-items-center mb-3">
        <img src="/assets/images/logofibem.png" alt="m" width="100px" height="50px">
        <span class="app-titles fw-bold ms-1">Mise en Relation Travaux</span>
      </div>
      <ul class="list-unstyled">
        <li><a href="/" class="text-white text-decoration-none">Publier une demande</a></li>
        <li><a href="/" class="text-white text-decoration-none">Devenir prestataire</a></li>
        <li><a href="/" class="text-white text-decoration-none">Nos garanties</a></li>
        <li><a href="/" class="text-white text-decoration-none">Comment ça marche</a></li>
        <li><a href="/" class="text-white text-decoration-none">Nouveautés</a></li>
        <li><a href="/" class="text-white text-decoration-none">Avis clients</a></li>
        <li><a href="/" class="text-white text-decoration-none">Application mobile prestataire</a></li>
        <li><a href="/" class="text-white text-decoration-none">Abonnement Connect</a></li>
        <li><a href="/" class="text-white text-decoration-none">Solutions pour entreprises</a></li>
      </ul>
    </div>


      <!-- Nos services -->
      <div class="col-md-2 mb-4">
        <h5 class="fw-bold mb-3">Nos services</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none">Bricolage & petits travaux</a></li>
          <li><a href="/" class="text-white text-decoration-none">Pose de cuisine</a></li>
          <li><a href="/" class="text-white text-decoration-none">Montage meuble</a></li>
          <li><a href="/" class="text-white text-decoration-none">Déménagement</a></li>
          <li><a href="/" class="text-white text-decoration-none">Jardinage</a></li>
          <li><a href="/" class="text-white text-decoration-none">Rénovation de salle de bain</a></li>
        </ul>
      </div>

      <!-- À propos -->
      <div class="col-md-2 mb-4">
        <h5 class="fw-bold mb-3">À propos</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none">Centre d'aide</a></li>
          <li><a href="/" class="text-white text-decoration-none">À propos</a></li>
          <li><a href="/" class="text-white text-decoration-none">Nous recrutons</a></li>
          <li><a href="/" class="text-white text-decoration-none">Mentions légales</a></li>
          <li><a href="/" class="text-white text-decoration-none">Conditions générales</a></li>
          <li><a href="/" class="text-white text-decoration-none">Protection des données</a></li>
          <li><a href="/" class="text-white text-decoration-none">Charte cookies</a></li>
          <li><a href="/" class="text-white text-decoration-none">Contactez-nous</a></li>
        </ul>
      </div>

      <!-- Contact France -->
      <div class="col-md-2 mt-3">
        <h5 class="app-title mb-3 fw-bold">
          <img src="https://avatars.mds.yandex.net/i?id=a654eb47e1f2c108e6b27a75a7400d3b8461f8cb-8973599-images-thumbs&n=13" style="width:20px; height:20px;" alt="France" class="flag-icon me-2">
          Contact
        </h5>
        <p><i class="bi bi-house-door me-2"></i>51 Rue du Grévarin-27200 vernon</p>
        <p><i class="bi bi-envelope me-2"></i>gilbertgomis78&#64;gmail.com</p>
        <p><i class="bi bi-telephone me-2"></i>+33 605 51 14 32</p>
        <p><i class="bi bi-building me-2"></i>SIRET : 445 374 937 00032</p>
      </div>

      <!-- Contact Sénégal -->
      <div class="col-md-2 mt-3">
        <h5 class="app-title mb-3 fw-bold">
          <img src="https://avatars.mds.yandex.net/i?id=4b4261679996b1d0c813e39b04fd5b7b70096f62-5579535-images-thumbs&n=13" style="width:20px; height:20px;" alt="Sénégal" class="flag-icon me-2">
          Contact
        </h5>
        <p><i class="bi bi-house-door me-2"></i>Rue 7 Corniche x 6, Médina</p>
        <p><i class="bi bi-envelope me-2"></i>senfibem.paris&#64;outlook.com</p>
        <p><i class="bi bi-telephone me-2"></i>+78 483 65 83</p>
        <p><i class="bi bi-building me-2"></i>N.I.N.E.A : 30 84 31 62 U2</p>
      </div>

           <!-- Nos partenaires -->
<div class="col-md-2 mb-4">
  <h5 class="fw-bold mb-3">Nos partenaires</h5>
  <div class="d-flex flex-column gap-2">

    <!-- Castorama -->
    <a href="https://www.castorama.fr" target="_blank">
      <img src="https://avatars.mds.yandex.net/i?id=4d46bdf60c0bc647f7b6378db900c67b956744fc-9029350-images-thumbs&n=13" 
           alt="Castorama" 
           class="partner-logo"
           width="100px" height="30px">
    </a>

    <!-- BUT -->
    <a href="https://www.but.fr" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2Ff1691c4139d8992195838b130523365502dde403-1200x1200.png&w=640&q=75" 
           alt="BUT" 
           class="partner-logo"
           width="100px" height="30px">
    </a>

    <a href="https://www.ikea.com/fr/" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F81ec5e581c4b944f56d3b8aee1a7a87021e51b10-1200x731.png&w=640&q=75" 
           alt="IKEA" 
           class="partner-logo"
           width="  100px" height="30px">
    </a>
   <a href="https://www.ikea.com/fr/" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F8780aee5869a0c45f946a4c75f1cf48edd2ec316-400x162.png&w=640&q=75" 
           alt="IKEA" 
           class="partner-logo"
           width="100px" height="30px">
    </a>
       <a href="https://www.ikea.com/fr/" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F1ecb3461ee473457ae52686d48827b2ba78f38e1-697x231.jpg&w=640&q=75" 
           alt="IKEA" 
           class="partner-logo"
           width="100px" height="30px">
    </a>
       <a href="https://www.ikea.com/fr/" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F4d9fb92d17b2a1ae3d59e4f252ba294d729d305b-342x162.png&w=640&q=75" 
           alt="IKEA" 
           class="partner-logo"width="100px" height="30px">
    </a>

   
       <a href="https://www.leroymerlin.fr/" target="_blank">
      <img src="https://static.captcha-delivery.com/captcha/assets/set/a0119e19d7f710c158729bc4153a6996e891b546/logo.png?update_cache=-8432625518805180429" 
           alt="IKEA" 
           class="partner-logo"width="100px" height="40px">
       </a>
        <a href="https://www.darty.com/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Darty.svg/406px-Darty.svg.png" 
           alt="IKEA" 
           class="partner-logo"width="100px" height="40px">
       </a>
  </div>
</div>

    </div>

    <hr class="border-light">

    <div class="row align-items-center">
      <div class="col-md-7">
        <p class="mb-0">© 2025 SenFibem France. Tous droits réservés.</p>
      </div>
      <div class="col-md-5 text-md-end">
        <p class="mb-0">Développé par SenFibem Tech</p>
      </div>
    </div>
  </div>
</footer>
