/* Footer background bleu */
footer {
  background-color: #096198; /* bleu foncé */
  color: #fff;
  font-size: 0.95rem;
}

/* Titres H5 avec fond bleu */
footer h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  background-color: #ffd500; 
  box-shadow: 5px 5px 5px rgb(255, 255, 255);
  padding: 5px 5px;
  color: rgb(14, 14, 14);
}

/* Décoration après H5 */
footer h5::after {
  content: "";
  position: absolute;
  width:100%;
  height: 3px;
  
  left: 0;
  bottom: -6px;
  border-radius: 2px;
}

/* Texte et liens */
footer p, 
footer a {
  color: #e0e0e0;
}

footer a:hover {
  color: #ffcc00; /* jaune vif au hover */
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

/* Boutons réseaux sociaux */
footer .btn-outline-light {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .btn-outline-light:hover {
  background: #b06700; /* bleu au hover */
  border-color: #0083b0;
  color: #fff;
}

footer hr {
  border-top: 1px solid rgb(248, 251, 251);
}

footer .text-end {
  font-style: italic;
  color: #cccccc;
}

footer .social-icon {
  font-size: 1.2rem;
  margin-right: 0.8rem;
  color: #e0e0e0;
}

/* Logo */
.navbar-logo {
  height: 80px;
  width: auto;
  object-fit: contain;
}

 footer .app-title {
  font-size: 1.3rem; /* même taille que navbar */
  color: rgb(222, 75, 2); /* couleur du texte identique */
  background-color: #f1f2f6; /* fond clair */
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 10px 10px;
  display: inline-block; 
}
footer .row.text-md-left {
  display: flex;
  flex-wrap: wrap; /* responsive */
  align-items: flex-start;
  gap: 0.3rem; 
}

footer .col-md-2,
footer .col-md-3,
footer .col-md-4 {
  flex: 0 0 auto; /* empêche l'étirement automatique */
  margin-right: 0.0rem;
}

footer .col-md-4 .d-flex {
  gap: 0.5rem; /* réduit l'espace entre logo et "Mise en Relation" */
}
.flag-icon {
  width: 20px;
  height: auto;
  vertical-align: middle;
}
