.devis-container {
  background: #fff;
  padding: 30px;
  max-width: 900px;
  margin: auto;
  border: 1px solid #ddd;
  font-family: "Arial", sans-serif;
  color: #333;
}

.logo {
  width: 100px;
}

.small-table th,
.small-table td {
  font-size: 0.85rem;
  padding: 3px 6px;
}

.table-primary th {
  background-color: #cde3ff !important;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #555 !important;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: 600;
}
