
<section class="partenaires-marquee">
  <div class="marquee-track">
    <a href="https://www.castorama.fr" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F3da3ad7f531e05b286b7d94a1a8d005f00f81a5d-2560x444.png&w=640&q=75" alt="Castorama">
    </a>
    <a href="https://www.ikea.com/fr/" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F4d9fb92d17b2a1ae3d59e4f252ba294d729d305b-342x162.png&w=640&q=75" alt="IKEA">
    </a>
    <a href="#" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F81ec5e581c4b944f56d3b8aee1a7a87021e51b10-1200x731.png&w=640&q=75" alt="Biko Déco">
    </a>
    <a href="https://www.conforama.fr" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2Faf8e5b3da474e7b3643d0f4b400884f58f999f72-1200x193.png&w=640&q=75" alt="Conforama">
    </a>
    <a href="#" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F1ecb3461ee473457ae52686d48827b2ba78f38e1-697x231.jpg&w=640&q=75" alt="Lepayre">
    </a>
    <a href="#" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F8780aee5869a0c45f946a4c75f1cf48edd2ec316-400x162.png&w=640&q=75" alt="Alinéa">
    </a>
    <a href="https://www.but.fr" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2Ff1691c4139d8992195838b130523365502dde403-1200x1200.png&w=640&q=75" alt="BUT">
    </a>
     <a href="https://www.leroymerlin.fr/" target="_blank">
      <img src="https://static.captcha-delivery.com/captcha/assets/set/a0119e19d7f710c158729bc4153a6996e891b546/logo.png?update_cache=-8432625518805180429" alt="BUT">
    </a>
    <!-- On peut dupliquer pour un défilement continu -->
    <a href="https://www.castorama.fr" target="_blank">
      <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?sanity=15w996j8%2Fcms%2F3da3ad7f531e05b286b7d94a1a8d005f00f81a5d-2560x444.png&w=640&q=75" alt="Castorama">
    </a>
     <a href="https://www.darty.com/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Darty.svg/406px-Darty.svg.png" alt="Castorama">
    </a>
  </div>
</section>


  <section class="hero">
    <h1>Recherchez votre prestation avec SENFIBEM</h1>
    <div class="search-bar">
      <input type="text" placeholder="Ex: Monter un dressing, peindre un mur...">
      <button>Rechercher</button>
    </div>
  </section>
<div class="button-center">
  <button class="btn btn-offre">Publier une Demande</button>
  <button class="btn btn-prestataire" routerLink="/prestataire">Devenir prestataire</button>
  <button class="btn btn-offre" routerLink="/b2b">B2B</button>
</div>
<!-- Categories -->
<section class="categories">
  <div class="category-grid">

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'maconnerie']">
        <img src="https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=400&h=250&fit=crop" alt="Maçonnerie">
      </a>
      <h3>Maçonnerie</h3>
    </div>

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'menuiserie']">
        <img src="https://avatars.mds.yandex.net/i?id=d2b5551c2a143d255de91eaf4851c7f8399004d3-5419089-images-thumbs&n=13" alt="Menuiserie">
      </a>
      <h3>Menuiserie</h3>
    </div>

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'peinture']">
        <img src="https://avatars.mds.yandex.net/i?id=845e95a01336cec148457971b243065c21f0482bd41ae108-13469331-images-thumbs&n=13" alt="Peinture">
      </a>
      <h3>Peinture</h3>
    </div>

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'electricite']">
        <img src="https://images.pexels.com/photos/257736/pexels-photo-257736.jpeg?auto=compress&cs=tinysrgb&w=400&h=250&fit=crop" alt="Électricité">
      </a>
      <h3>Électricité</h3>
    </div>

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'plomberie']">
        <img src="https://avatars.mds.yandex.net/i?id=a4f73fad85b9711f3e39507fcedd5d2320d9b26e-5479412-images-thumbs&n=13" alt="Plomberie">
      </a>
      <h3>Plomberie</h3>
    </div>

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'carrelage']">
        <img src="https://avatars.mds.yandex.net/i?id=9af45c5d8f76883cd9666ce1d225c5c14682b0aa-12434061-images-thumbs&n=13" alt="Carrelage">
      </a>
      <h3>Carrelage</h3>
    </div>

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'jardinage']">
        <img src="https://avatars.mds.yandex.net/i?id=2cce69e937838422d62aa3061ec3c98fd796f9e4-5883734-images-thumbs&n=13" alt="Jardinage">
      </a>
      <h3>Jardinage</h3>
    </div>

    <div class="category-card">
      <a [routerLink]="['/categorie-detail', 'cuisine']">
        <img src="https://avatars.mds.yandex.net/i?id=ae4d67c1c1b34bbb368e30377388d045e12df157-5163221-images-thumbs&n=13" alt="Cuisine">
      </a>
      <h3>Cuisine</h3>
    </div>
    <div class="category-card">
      <a >
        <img src="https://d39jeaq38kq5vc.cloudfront.net/_image?url=https%3A%2F%2Fs3.eu-west-3.amazonaws.com%2Fstatic.needhelp.fr%2Fcover-prestations%2Flocksmithing.jpg&w=640&q=75" alt="Cuisine">
      </a>
      <h3 routerLink="/serrureri">Sécurité Serrureri</h3>
    </div>

  </div>
  <h2 class="plus">Voir la liste complete des prestataions</h2>
</section>

<section class="how-it-works">
  <h2>Publiez votre demande en quelques clics</h2>
  <div class="steps-container">
    <div class="step">
      <div class="icon">
        <i class="fas fa-edit"></i>
      </div>
      <h3>1. Publiez votre demande</h3>
      <p>Sélectionnez une prestation et remplissez le formulaire</p>
    </div>
    <div class="step">
      <div class="icon">
        <i class="fas fa-receipt"></i>
      </div>
      <h3>2. Recevez des devis</h3>
      <p>Comparez les prix et les profils des prestataires</p>
    </div>
    <div class="step">
      <div class="icon">
        <i class="fas fa-check-circle"></i>
      </div>
      <h3>3. Réalisez votre projet</h3>
      <p>Réglez pour recevoir les coordonnées puis fixez votre RDV</p>
    </div>
  </div>
</section>

<section class="about-senfibem">
  <div class="container">
    <div class="row">
      <!-- Colonne image -->
      <div class="col image-col">
        <img src="https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Prestataire SenFibem">
      </div>
      <!-- Colonne texte -->
      <div class="col text-col">
        <h2>SenFibem, la solution pour tous vos projets !</h2>
        <p>
          SenFibem.com est la marketplace de services qui vous permet de déléguer vos travaux à des prestataires qualifiés en moins de 48 heures. Que ce soit pour monter un meuble, installer une cuisine, repeindre un mur, déménager un canapé ou tondre la pelouse, nous avons le professionnel qu'il vous faut.
        </p>
        <p>
          Des petits travaux aux grands projets de rénovation, faites appel à SenFibem en toute confiance. Notre plateforme vous connecte avec des experts locaux pour répondre à tous vos besoins.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="trust-senfibem">
  <div class="container">
    <!-- Première ligne : image + texte -->
   <div class="row seconde-line">
        <div class="col image-col">
          <img src="https://avatars.mds.yandex.net/i?id=0de36ba319c74c7ea7dcaa50a1ba633400368a63-7452211-images-thumbs&n=13" alt="Prestataire SenFibem">
        </div>
        <div class="col text-col">
          <span class="icon">✔</span>
          <p>
            Assurance et Garantie « Satisfait ou Refait » : Nos services incluent une assurance  contre les dommages corporels et matériels. De plus, notre Garantie « Satisfait ou Refait » vous assure une prestation de qualité ou une intervention corrective en cas de besoin. Voir les conditions.
          </p>
        </div>
      </div>


    <!-- Deuxième ligne : texte avec icônes -->
    <div class="row first-line">
      <div class="col trust-col">
        <div class="trust-item">
          <span class="icon">✔</span>
          <p><strong>Réseau de Professionnels Vérifiés :</strong> Grâce à notre réseau étendu, vous trouverez des professionnels compétents près de chez vous. Chaque prestataire est soigneusement vérifié par nos équipes pour garantir qualité et fiabilité.</p>
        </div>
      </div>
      <div class="col trust-col">
        <div class="trust-item">
          <span class="icon">✔</span>
          <p><strong>Avis et Badges de Confiance :</strong> Consultez les avis laissés par d'autres utilisateurs et découvrez les badges de confiance qui attestent des diplômes, formations et compétences de nos prestataires.</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="partners">
  <h2 class="section-title">Retrouvez-nous dans les magasins de nos partenaires</h2>
  <div class="partners-grid">
    <div class="partner-card">
      <img src="https://avatars.mds.yandex.net/i?id=a66fb026d6e4ebf4f774aac146eaabec0ae16b6e-8751582-images-thumbs&n=13" alt="Leroy Merlin">
    </div>
    <div class="partner-card">
      <img src="https://avatars.mds.yandex.net/i?id=c7453023a2f387c85ce8237b224e76a9e6f3e0d7-5363567-images-thumbs&n=13" alt="Castorama">
    </div>
    <div class="partner-card">
      <img src="https://avatars.mds.yandex.net/i?id=74c08162dbdaf52e394c91a3917e97c2e97bcf57-12967326-images-thumbs&n=13" alt="Lapeyre">
    </div>
  </div>
</section>

